<div class="staff_header">Merge Queue</div>
<div id="results">
<% form_remote_tag :update =>'queue_box', :url => {:action => 'queue_search'} do -%>
  Search: <%= text_field :queue_file, :query %>
  <%= submit_tag %>
<% end %>
<%= link_to_remote "Show All", :update =>"queue_box",:url => { :action => "show_all"} %>
	<div>
   <%= render :partial => '/staff/queue_files/queue_box' %>
	</div>
</div>
<hr>
