
<%= render :partial => 'layouts/data_entry' %>


<div id="contact_entry">
<%= render :partial => "contact_entry", :update => "contact_entry" %>
</div>
<div id="contact_results" style="height:40em; overflow-y:scroll;">
	<%= render :partial => "contact", :update => "contact_results" %>
</div>
