.DS_Store
*.swp
*.swo
*.tmproj
._*
doc/**/*
tmp/**/*
tmp/*
log/*.log
vendor/rails
config/database.yml
public/javascripts/cache/*
public/stylesheets/cache/*
public/submissions
public/argo_submissions
public/data
submissions
.idea
.rvm
.ruby-version
config/setup_load_paths.rb
public/500.html
