<div class="boxed search-advanced">
  <h1>Search</h1>
  <div class="box_content">
    <p>
      The search box provided here is available at the top of every page.
    </p>

    <div id="cchdo_search" style="margin: 1em 0 2em 0;">
      <% form_tag '/search', :method => "GET" do -%>
        <%= text_field_tag 'query', params[:query], :class=>'search_box' -%>
        <%= image_submit_tag 'buttons/button_search.png', :class=>'search_button', :alt=>'Find Cruises' -%>
      <% end -%>
    </div>

    <p>
      Type as many terms as you need, e.g. ship name, country, line numbers,
      and press "Search Data". The terms are combined with AND by default, use
      OR if needed.
    </p>

    <%#

    <p>
      E.g. ship:knorr line:p10 chief_scientist:swift
    </p>

    <p>
      Search by keyword is supported by the search engine. To use keywords,
      enter the keyword followed by a colon and then the term to search for.
    </p>

    <p>
      Keyword search is literal. Unless searching for specific terms for WOCE
      lines, simply type the search term and cruises related to your search
      term will also be returned.
    </p>
    <p>
      Search by keyword only returns exact matches for that keyword.
      Search without keyword returns all matches.
      For example, searching for A23 gives more results than line:A23.
    </p>

    <p>
      The following keywords are available:
    </p>

    <ul>
      <li>group</li> <%# cruise alias >
      <li>chief_scientist</li>
      <li>expocode</li>
      <li>alias</li>
      <li>ship</li>
      <li>country</li>
      <li>line</li>
      <li>date_before format</li>
      <li>date_after format</li>
    </ul>
    #%>

  <%#
    <h2>Search by Data Files</h2>
    <form action="/search/list_files">
      <table>
        <tr>
          <td>File Type(s)<br>
            <select name="FileType">
              <option value="all">all</option>
              <option value="sum">Sum File</option>
              <option value="bottle">bottle</option>
              <option value="ctd">ctd</option>
              <option value="documentation">Documentation</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>Modified Since</td>
        </tr>
        <tr>
          <td colspan="4">
            <%= year_month_selector('MONTHSTART', 'YEARSTART', 1994)>
          </td>
        </tr>
        <tr>
          <td><%= submit_tag "Find Files"></td>
        </tr>
      </table>
    </form>
    %>

  </div>
  <div class="box_bottom"></div>
</div>
