<% if params[:expanded] -%>
  <%= link_to('Condensed view', params.merge(:expanded => false)) %>
<% else -%>
  <%= link_to('Expanded view', params.merge(:expanded => true)) %>
<% end -%>
<div id="search_results">
  <% if @cruises.blank? -%>
    <h3>No results for <%= @query %></h3>
  <% else -%>
    <% if params[:expanded] -%>
      <%= render :partial => 'search/full_results' -%>
    <% else %>
      <%= render :partial => 'search/short_results' -%>
    <% end %>
  <% end -%>
</div>
