<% if @file_result %>
  <h1>Missing</h1>
  <ul class="missing">
    <% for type, text in $file_types %>
      <% unless @file_result[type] %>
        <li><%= type %></li>
      <% end %>
    <% end %>
  </ul>

  <h1>Online</h1>
  <ul>
    <% for type, text in $file_types %>
      <%= link_file(@file_result[type], text) %>
    <% end %>
  </ul>
<% else %>
  <h1>No cruise document status information</h1>
<% end %>
