<div class="boxed">
<h1>Staff home</h1>
<div class="box_content">
  <div id="staff_div">
    <h2><%= link_to('CCHDO Operations Manual', 'https://bitbucket.org/ghdc/cchdo/wiki/Home') %></h2>
    <h2><%= link_to('Websites maintained by the CCHDO', 'https://bitbucket.org/ghdc/cchdo/wiki/www_maintained') %></h2>
  </div>
</div>
<div class="box_bottom"></div>
</div>
