html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }
:focus { outline: 0; }
body { line-height: 1; color: black; background: white; }
ol, ul { list-style: none; }
table { border-collapse: separate; border-spacing: 0; }
strong { font-weight: bold; }
em { font-style: italic; }
caption, th, td { text-align: left; font-weight: normal; }
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }
/* end css reset */

/* Globals */
body { font-family: 'Open Sans', Futura, Verdana, Tahoma, sans-serif; font-size: 10pt; padding: 0; position: relative; }
p { line-height: 1.5em; max-width: 66ex; }
address { line-height: 1.5em; }
a, .link { color: #405381; }
a:visited, .visited_link { color: #88673E; }
pre { font-family: Andale Mono, Courier New, Courier, Fixed, monospace; }

/* text fields */
input[type='text'], input[type='password'], select { border: 1px solid #A0A0A0; }
input[type='text']:focus, input[type='password']:focus, select:focus { border: 1px solid #1286FE; background-color: #DEFFFF; }

.dev_heading { color: #67a9bb; }
.dev_info { color: #18434d; }
.name { font-style: italic; }
.credit { font-style: italic; }

h2 { color: #006f89; font-size: medium; }
h3 { margin-top: 1em; margin-bottom: 1em; font-weight: bold; }

.copythis { position: absolute; left: -10000px; }
.notice {
  background-color: #ffaa55 !important;
  border: 1px solid #A0A0A0;
  border-bottom: 0;
  padding: 0.5em !important;
  font-size: medium !important;
}
.warning {
  color: #FF0000;
  background-color: #ffff00;
  padding: 6px;
  font-weight: bold;
  margin-left: 245px;
}
.button {
  height: 1.5em;
}

/* query */
em.query, em#cart_count {
  color: #1286FE;
  font-weight: bold;
}
.mapimg {
  text-align: center;
  margin: 0 auto;
}

/* SEARCH RESULTS */
.expocode {
  font-weight: bold;
  font-size: large;
}
.scientist {
  margin-left: 2em;
  width: 33em;
}

/* RESULTS PAGINATION */
div.results {
  background-color: #E0E0E0;
  text-align: center;
  padding: 0.5em;
  border-top: 1px solid #A0A0A0;
  border-bottom: 1px solid #A0A0A0;
  margin-bottom: 1em;
  font-weight: bold;
}
div.results a {
  text-decoration: none;
  font-weight: normal;
}

/* recognized query results */
#recognized_query_result h1 {
  font-size: large;
  padding-bottom: 0.5em;
}
#search_results a {
  text-decoration: none;
}

/* HISTORY */
div.history.note {
   border: 1px solid #A0A0A0;
   padding: 1em;
   height: 20em;
   overflow: auto;
}
div.history.note h1 {
   font-size: larger;
   font-weight: bold;
}
#project_carina_link {
  display: block;
  font-weight: bold;
  margin: 0 0 1em 0;
}

/* tables */
table.bordered {
  border-collapse: collapse;
}
table.bordered td {
  border: 1px solid #ddd;
}
tr th {
  padding-right: 1em;
  padding-top: 0.5em;
  font-weight: bold;
}
tr td {
  padding-right: 1em;
  padding: 0.3em;
  vertical-align: middle;
}

table#search_results {
  clear: both;
  border-collapse: separate;
  width: 100%;
}

tr.hl {
  background-color: #EEE;
}
tr.highlighted_cell {
  background-color: #efefef;
}
tr.parameter_row{
	background-color:#CED7E9;
}

td.map {
  width: 150px;
}
td.identity {
  width: 20em;
}
td.identity > p {
  width: inherit;
  overflow: auto;
}

td.data_summary > h1 {
  font-weight: bold;
  background-color: inherit;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}
td.data_summary > .parameters {
  font-size: smaller;
}
td.file_summary {
  width: 24em;
}
td.file_summary th {
  font-weight: bold;
  padding-bottom: 0.5em;
}
td.file_summary .files {
  width: 100%;
}
td.file_summary .files td {
  color: #1286FE;
}
td.file_summary .files td p.date {
  font-size: smaller;
}
td.map img {
  width: 150px;
}
.parameter_cell {
  vertical-align: top;
  color: #a8a8a8;
  width: 60%;
}
.parameter_cell .parameters {
  font-size: x-small;
}
.param_title {
  color: #565656 ;
}
.status_table {
  color:#565656;
  width: 100%;
}
.status_table th {
  background-color:#d1edec;
  padding-left: 5px;
  vertical-align: bottom;
  color: #515151;
  text-transform: uppercase;
}
.status_table a:hover, .hovered_link {
  color:#a8a8a8;
  text-decoration:underline !important;
}
.status_table td { 
  padding: 5px;

  vertical-align:top;
}
.status_table tr {
  vertical-align: top;
}
.heading_table {
  color:#515151;
  text-transform: uppercase;
}
.heading_table td {
}

.link2 {
  font-size:medium;
  color:#66A7DD;
}
.cruise_title .woce-line,
.cruise_title .expocode {
  color: #51888E;
}
.cruise_title .woce-line {
  font-size: 1.05em;
  margin-right: 1em;
}
.cruise_title .expocode {
  font-size: 1.2em;
  font-weight: normal;
  color: #89773F;
}
.metadata-cruise .links {
  text-transform: uppercase;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: 0.90em;
}
.metadata-cruise .links form, 
.metadata-cruise .links div {
  display: inline;
}
.metadata-cruise .links input {
  color: #556F8E;
  margin-right: 0.7em;
  display: inline-block;
  padding: 0.2em 0.3em;
  background-color: #F8F8F8;
  border: 1px solid #95AFCE;
  border-radius: 0.3em;
}
.metadata-cruise .links input:hover {
  background-color: #B5DFFE;
}
.metadata-cruise .links input:active {
  background-color: #95AFCE;
  border-color: #556F8E;
  color: #EEEEEE;
}

#heading {
  background-color:#d1edec;
}

/* MAIN */

#centering {
  margin: 0 auto;
  width: 1024px;
}
#content {
  text-align: left;
  line-height: 1.5em;
  position:relative;
}
#content > h1 {
  font-size: large;
  border-bottom: 1px solid #A0A0A0;
  background-color: #E0E0E0;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  padding: 0.5em;
}

#cchdo_header {
  position: relative;
  height: 45px;
}
#cchdo_logo img {
  height: 45px;
}
#cchdo_search form {
  line-height: 2.3em;
}
#cchdo_search input {
  vertical-align: middle;
}
#cchdo_search .search_box {
  border: 1px solid #C0C0C0;
  background-color: #E0E0E0;
  font-size: 1.3em;
  margin: 0;
  width: 15em;
}
#cchdo_search .search_box:focus {
  background-color: transparent;
  border: 1px solid #1286FE;
}
#cchdo_search .search_button { 
  margin-left: -0.5em;
  height: 2.17em;
}
#cchdo_bulk {
  margin-right: 0.2em;
}
#cchdo_bulk p.count a {
  font-size: 1.1em;
  color: #666666;
  text-decoration: none;
}
#cchdo_user {
  color: #333333;
  text-align: right;
  line-height: 1.1em;
  font-size: 0.8em;
  padding-top: 0.2em;
}
#cchdo_user a {
  font-size: 1.1em;
  text-decoration: none;
}
#cchdo_user .username {
  margin-bottom: 0.2em;
}
#cchdo_user .signout {
  color: #405381;
  font-size: 0.9em;
}
.masthead-block {
  float: left;
  height: 3.05em;
  padding: 0.35em 0.35em 0.2em 0.2em;
}
#cchdo_logo.masthead-block {
  padding: 0;
}
.masthead-right {
  float: right;
  padding-right: 0;
}
.masthead-right .masthead-block {
  padding: 0 0.2em 0 0.2em;
  height: 100%;
  text-align: center;
}

#picture {
  clear: left;
  position: relative;
  /*padding-top: 84px; /* Push the menu down */
  height: 125px;
  z-index: 1;
}
#bannerA, #bannerB {
  position: absolute;
  left: 0;
  width: 100%;
  background: url('/images/banners/banner.jpg');
  height: 125px;
}
#banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
}
#cart {
  position: absolute;
  top: 0;
  right: 0;
}
.cart_prompt {
  float: right;
  margin-top: 1em;
  margin-bottom: 1em;
}

.addcart_button {
  vertical-align: middle;
  height: 1.5em;
}
#cart_listing {
  max-height: 600px;
  overflow: auto;
}

/* cchdo footer */
#cchdo_footer {
  position: relative;
  bottom: 0;
  clear: both;
  margin-bottom: 1em;
  padding-top: 0.5em;
}
#cchdo_credit {
  margin-top: 1em;
  text-align: center;
  font-size: x-small;
  color: #AAA;
}
#cchdo_credit p {
  max-width: none;
  width: 61em;
  margin: 0 auto;
}
#cchdo_credit p:first-child {
  font-size: larger;
}
#cchdo_logos {
  position: absolute;
  bottom: 0;
  right: 0;
}
#cchdo_logos img {
  height: 40px;
}

/* shaded boxes */

.boxed { 
  position: relative;
  margin-bottom: 1em;
  z-index: 0;
}
.boxed > h1 {
  font-size: large;
  background-color: #E0E0E0;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  padding: 0.5em;
}
.boxed > .box_content {
  padding: 1em;
  position: relative;
}
.box > h1 {
  font-size: large;
  background-color: #E0E0E0;
  padding: 0.5em;
  border: 1px solid #A0A0A0;
  margin-bottom: 1em;
}
.box_bottom { 
  display: none;
}

/* CCHDO Menu *****************************************************************/
#cchdo_menu {
  /* pin to bottom of picture */
  z-index: 100;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  /* make a light area in the picture for the menu */
  background-image: url("/images/banners/transparent_menu_bg.png");
  height: 16px;
  /* bump to center text in transparency */
  margin-top: -3px;
  padding-top: 3px;
  text-align: center;
}
#cchdo_menu a {
  color: #000000;
  text-decoration: none;
}
#cchdo_menu ul li {
  height: 1.3em; /* Make boxes a little bigger */
}
#cchdo_menu > ul {
}
#cchdo_menu > ul > li {
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 3px;
  position: relative;
  display: inline;
  text-transform: uppercase;
  z-index: 100;
  height: 17px;
}
#cchdo_menu > ul > li > h1 { 
  display: inline;
  padding: 0;
  margin: 0;
  font-size: inherit;
}
#cchdo_menu ul li ul {
  margin-top: 0;
  visibility: hidden;
}
#cchdo_menu ul li ul a {
  height: 1.53em; /* Make the (most of) the entire highlighted area clickable */
  display: block;
}
#cchdo_menu > ul > li > ul {
  /* inline-table hack */
  position: absolute;
  left: 0;
  right: 0;
  top: 18px; /* bump submenu down below the transparent bar */
  background-color: #D0D0D0;
}
#cchdo_menu > ul > li:hover > ul {
  visibility: visible;
}
#cchdo_menu > ul > li > ul > li {
  text-transform: none;
  padding-top: 3px;
  padding-bottom: 3px;
}
#cchdo_menu ul li ul li:hover,
#cchdo_menu ul li ul li:hover > a,
.submenu_hover {
  background-color: #A0A0A0;
  color: white;
}
#cchdo_menu ul li ul li ul {
  position: absolute;
  left: 100%;
  background-color: #A0A0A0;
  white-space: nowrap;
  width: 130px !important;
}
#cchdo_menu ul li ul li ul.ocean {
  top: 0;
}
#cchdo_menu ul li ul li ul.time_series {
  top: 1.75em;
}
#cchdo_menu ul li ul li ul.contributions_projects {
  top: 3.5em;
}
#cchdo_menu ul li ul li:hover ul {
  visibility: visible;
}
#cchdo_menu ul li ul li ul li {
  padding: 3px;
  margin-top: 0px;
}
#cchdo_menu ul li ul li ul li:hover, .submenu2_hover, #cchdo_menu ul li ul li ul li:hover a {
  background-color: #3C3C3C;
  color: white;
}

/* home */
#home_intro img {
  float: left;
  display: inline;
  width: 10em;
  margin-right: 1em;
  margin-bottom: 1em;
}
#home_intro p {
  max-width: 66em;
  margin-bottom: 0.6em;
}
#left_column {
  float: left;
  width: 70%;
  margin-bottom: 1em;
}
#right_column {
  float: right;
  width: 28%;
  text-align: left;
}
#right_column .boxed { 
}
#right_column .boxed .box_content {
  line-height: 1.5em;
  overflow-y: scroll;
  height: 37em;
}
#right_column h2 {
  border-bottom: 2px solid #A0A0A0;
  margin-top: 1em;
  margin-bottom: 1em;
  width: 80%;
}
#right_column ul {
  margin-left: 1em;
}

/********** Sliding Submit ***********/
.hidden {
   display: block;
}

noscript {
   font-size: large;
   font-weight: bold;
   text-align: center;
}

table.table_step {
   background-color: #fff;
   border: 0px;
   padding-top: 0px;
   vertical-align: top;
   width: 685px;
}


table.table_step2 {
   background-color: #fff;
   border: 0px;
   padding-top: 0px;
   vertical-align: top;
   width: 800px;
}


.sf {
/*   border: #808080 5px double; */ 
   display:block;
   height:261px;
   list-style:none;
   margin-left: 0px;
   overflow: hidden;
   padding-left: 0px;
   text-align: center;
   width: 772px;
}

.sf2 {
   display:block;
   height:261px;
   list-style:none;
   margin-left: 0px;
   overflow: hidden;
   padding-left: 0px;
   text-align: center;
   width: 1000px;
}

.sf li, .sf2 li {
   background-color: #ffffff;
   display:inline;
   float: left; 
   height: 261px;
   overflow: hidden;
   width: 20px;
}

.sf li a:link, .sf2 li a:link {
   color: #06629b;
   font-size: small;
   text-decoration: underline;
}

.step_content1, .step_content2, .step_content3, .step_content4,
.step_content12, .step_content22, .step_content32, .step_content42 {
  height: 261px;
  padding-left: 36px;
  text-align: left;
  vertical-align: text-top;
}
.step_content1 { background: #fff url('/images/contact.jpg') no-repeat top left; }
.step_content2 { background: #fff url('/images/cruise.jpg') no-repeat top left; }
.step_content3 { background: #fff url('/images/type.jpg') no-repeat top left; }
.step_content4 { background: #fff url('/images/data.jpg') no-repeat top left; }
.step_content12 { background: #fff url('/images/contact2.jpg') no-repeat top left; }
.step_content22 { background: #fff url('/images/cruise2.jpg') no-repeat top left; }
.step_content32 { background: #fff url('/images/type2.jpg') no-repeat top left; }
.step_content42 { background: #fff url('/images/data2.jpg') no-repeat top left; }

.step, .step2 {
   font-size: 18pt;
   font-weight: bold;
   text-transform: uppercase;
}
.step { color: #06629b; }
.step2 { color: #006f89; }

.step_number, .step_number2 {
 font-size: 24pt;
 vertical-align: text-top;
}
.step_number { color: #7f97b9; }
.step_number2 { color: #a0a0a0; }

.hr {
   border-bottom: #808080 1px solid;
}
.step_title {
   color: #000;
   font-size: 18pt;
}

.important { color: #06629b; }
.asterisk { font-size: smaller; text-align: right; }
.clear { clear: both; }

.boxed table th { border-bottom: 1px solid #aaa; }

/* used for both cruise page and expanded search results */
.status-preliminary { color: #ff0900; font-weight: bold; }
.data_access .status-preliminary { font-size: 1.3em; }

.data-formats abbr { font-size: 0.5em; font-family: sans-serif; padding-left: 0.2em; color: #BBBBBB;}
.data-formats .file_type {}
.data-formats .formats { padding-left: 1em; position: relative; }
.data-formats .bulk { position: absolute; left: 10em; margin-top: 3px; }
.data-formats .sub-formats h3 { padding-left: 1em;}
.data-formats .sub-formats .formats { padding-left: 2em;}
.data-formats .short.formats { padding-left: 0;}
.data-formats .short.sub-formats .formats { padding-left: 0;}
.data-formats .short.formats { font-size: 0.9em; line-height: 1.3em; }
.data-formats .short .bulk { left: 13em; margin-top: 0; }

.bulk-cruise {
  position: absolute;
  right: 4em;
  top: 0.3em;
  /* center the global tools vertically
  top: 50%;
  margin-top: -1em;
  */
  z-index: 1;
}
.bulk-icon {
  background: url("/images/cart/cart_sprite.png");
  white-space: nowrap;
}
#cchdo_bulk.hidden {
  display: none;
}
#cchdo_bulk .bulk-link {
  text-decoration: none;
  display: block;
}
#cchdo_bulk .bulk-icon {
  background-size: 40px auto;
  width: 40px;
  height: 40px;
  background-position: 0 120px;
}
#cchdo_bulk .count {
  text-align: center;
  margin-right: 3px;
  padding-top: 4px;
  color: #60A864;
}
.lt-ie9 .bulk-add .bulk-icon,
.lt-ie9 .bulk-remove .bulk-icon {
  background: transparent url("/images/cart/cart_sprite_small.png") repeat-y;
}
.bulk-add .bulk-icon, .bulk-remove .bulk-icon {
  background-size: 15px auto;
  background-position: 8px;
  background-repeat: repeat-y;
  width: 15px;
  height: 15px;
  line-height: 15px;
  padding-left: 17px;
  color: #2670C8;
  font-family: sans-serif;
  font-size: 0.9em;
  text-decoration: none;
}
.bulk-add .bulk-icon { background-position: 0 30px; }
.bulk-remove .bulk-icon { background-position: 0 15px; }
.bulk-add-cruise .bulk-icon { background-position: 0 60px; }
.bulk-remove-cruise .bulk-icon { background-position: 0 0px; }
.lt-ie9 .bulk-add .bulk-icon { background-position: 0 30px; }
.lt-ie9 .bulk-remove .bulk-icon { background-position: 0 15px; }
.lt-ie9 .bulk-add-cruise .bulk-icon { background-position: 0 60px; }
.lt-ie9 .bulk-remove-cruise .bulk-icon { background-position: 0 0px; }

#search_results td.metadata-cruise { width: 30%; }
#search_results td.metadata-how { width: 20%; }
#search_results td.data-formats { width: 40%; position: relative; }
#search_results td.data-formats h3 { margin-top: 0.2em; margin-bottom: 0.2em; }

.data_access .left { float: left; width: 45%; }
.data_access .right { float: right; text-align: left; width: 53%; }
.data_access .box_content { padding-top: 0; }
.data_access h2 { margin-top: 0.7em; margin-bottom: 0.2em; }
.data_access h3 { margin: 0.5em 0 0.25em 0; }
.data_access .thumb { margin-top: 0.5em; float: right; text-align: right; }
.data_access .thumb .caption { font-size: 0.9em; margin-top: -0.5em; }
.data_access .thumb img { width: 80px; height: 80px; }
.data_access .boxed table { width: 100%; }
.data_access .boxed td { vertical-align: top;}
.data_access .boxed td.date { font-weight: bold; white-space: nowrap; }
.data_access .boxed .upper { max-height: 40em; overflow-y: auto; }
.data_access .note {}
.data_access .note pre { overflow: auto; width: 74em; }
.data_access .note .close { text-align: right; }
.data_access .note .close a { text-decoration: none; }
.data_access #general .box_content { padding-top: 0.6em; }
.data_access #general strong { color: #003F59; padding-right: 0.3em; }
.data_access #updates table { width: 100%; margin-left: 0.5em; }
.data_access #updates th { border-bottom: 1px solid #ddd; }
.data_access #updates tr.first td { padding-top: 0.8em; }
.data_access #updates tr.last td { padding-bottom: 0.8em; }
.data_access #updates .file {}
.data_access #updates .date { width: 2em; white-space: nowrap; }
.data_access #updates .odd td { background-color: #efefef; }
.data_access #updates .merged td { background-color: #d9eaed; }
.data_access #updates .merged .odd td { background-color: #c9dadd; }
.data_access #updates .notes { color: #000; }

.data_summary_history { background: #9ec4cd; }
.data_summary_history a { color: #fff; }
#data_summary_and_history { height:700px; }
#data_summary_table_meta{ margin-top: 0px; height:300px; }
#data_summary_table_files{ height:500px; }

.bulk-dl th {
  padding-left: 0.2em;
}
.bulk-dl .hl {
  background-color: #eeeeee;
}
.bulk-dl .bulk-remove {
  width: 5em;
}
.bulk-dl #quick-dl p {
  width: auto;
  max-width: none;
}
.bulk-dl #quick-dl li {
  float: left;
}
.bulk-dl table {
  clear: left;
}
.bulk-dl .tools .download {
  font-size: 1.1em;
  background-color: #CCEEBB;
  border: 1px solid #99CC66;
  border-radius: 0.3em;
  color: #55AA22;
}
.bulk-dl .tools .download:hover {
  background-color: #ddffaa;
}
.bulk-dl .tools .download:active {
  color: #EEEEEE;
  background-color: #99CC66;
}
.bulk-dl .tools .clear {
  background-color: #FFAAAA;
  border: 1px solid #dd8888;
  border-radius: 0.3em;
  color: #772222;
}
.bulk-dl .tools .clear:hover {
  background-color: #FFBBBB;
}
.bulk-dl .tools .clear:active {
  color: #EEEEEE;
  background-color: #994444;
}

#color_column{ background: #006f89; }

.data_table {
  background-color:#d1edec;
  color:#515151;
  text-transform: uppercase;
  vertical-align: top;
  border-bottom: 3px solid #006f89 !important;
}

/* Old Submissions */
#old_submissions_table {
  border: 2px solid #000;
  width: 100%;
  padding: 15px;
  padding-top: 10px;
  font-size: small;
  border-collapse: collapse
}
#old_submissions_table th {
  font-weight: bold;
  text-align:left;
  background-color: #9ec4cd;;
  padding: 5px 10px 5px 10px;
  color:#000;
  font-size: medium;
}
#old_submissions_table tr {
  border: 2px solid #000;
  border-bottom: 2px solid #000;
}
#old_submissions_table td {
  text-align:left;
  padding:6;
}
#old_submissions_table tr:hover td {
  background: #D8D8D8 !important;
}
div.scroll {overflow: auto; width: 100%; height: 36em;}


#new_submissions_table {
  border: 2px solid #000;
  width: 100%;
  padding: 15px;
  padding-top: 10px;
  font-size: small;
  border-collapse: collapse
}
#new_submissions_table th {
  font-weight: bold;
  text-align:left;
  background-color:#B7EAF0;
  padding:6;
  color:#000;
  font-size: medium;
  height: 3em;
}
#new_submissions_table td {
  text-align:left;
  padding: 6px;
}
#new_submissions_table tr:hover td {
  background: #D8D8D8 !important;
}


/* Staff Pages */
.staff #menu { background: #c0c0c0; color: #A0A0A0; padding: 0.5em; }
.staff #menu a { color: #333333; text-decoration: none; }
.staff #menu a:visited { color: #666666; }
.staff #signout { background: #c8c8c8; padding: 0.5em; text-align: right; border-bottom: 2px solid #A0A0A0; }
.staff_header {
  border-bottom: 3px solid #006f89 !important;
  color: #006f89;
  font-size: x-large;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 1.5em;
}

#results { margin: 1em; }

.assimilated_submission_1 { background: #9b9b9b; }
.assimilated_submission_2 { background: #ababab; }
.incomplete_submission_1 {  background: #eeeecc; }
.incomplete_submission_2 {  background: #cfdfff; }

#submitted_files .corrected { text-decoration: line-through; }

#task_color_key { border: 1px solid #FFF; }

div.tm_auto_complete { width: 50px; background: #fff; }
div.tm_auto_complete ul {
  border:1px solid #888;
  margin:0;
  padding:0;
  width:100%;
  list-style-type:none;
}
div.tm_auto_complete ul li { margin:0; padding:3px; }
div.tm_auto_complete ul li.selected { background-color: #ffb; } 
div.tm_auto_complete ul strong.highlight { color: #800; margin: 0; padding:0; }

.task_manager_action_cell { right:100px; } 
.assignment_details_cell { background:#D2D2D2; } 
.assignment_details { background:#D2D2D2; } 
.assignment_details_key { background:#FFF; }  
.assignment_details_value { background:#FFF; } 
#task_assignment_table { padding: 0; margin: 0; }

.tm_cell {
  border-width: 0;
  margin: 0;
  padding: 0;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.tm_text_box {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.tm_row1 {
  opacity: 0.8;
  -moz-opacity: 0.8;
  /*filter:alpha(opacity=80); #please no.*/
}

.tm_row {
  opacity: 0.8;
  -moz-opacity: 0.8;
  /*filter:alpha(opacity=80); #please no.*/
}

.tm_header { background:#EEE7D5; }

.tm_row_priority_1 {
  background:#FF524D;
  margin: 0px;
  padding: 0px;
  border-width: 0px;
  border-collapse: collapse;
}

.tm_row_priority_2 {
  background:#FF9750;
  margin: 0px;
  padding: 0px;
  border-width: 0px;
  border-collapse: collapse;
}

.tm_row_priority_3 {
  background:#FFD83E;
  margin: 0px;
  padding: 0px;
  border-width: 0px;
  border-collapse: collapse;
}

.tm_row_priority_4 {
  background:#63FF70;
  margin: 0px;
  padding: 0px;
  border-width: 0px;
  border-collapse: collapse;
}

.tm_row_priority_5 {
  background:#6B6B6B;
  margin: 0px;
  padding: 0px;
  border-width: 0px;
  border-collapse: collapse;
}

.tm_row_priority_6 {
  background:#FFF;
  margin: 0px;
  padding: 0px;
  border-width: 0px;
  border-collapse: collapse;
}

.tm_row_priority_6_box {
  background: #FFF;
  border-color: #000;
  border: 1px solid black
}

.tm_row_priority_7 {
  background:#2D2CFF;
  margin: 0px;
  padding: 0px;
  border-width: 0px;
  border-collapse: collapse;
}

.tm_row_priority_unknown {
  background:#B3F6E0;
  margin: 0px;
  padding: 0px;
  border-width: 0px;
  border-collapse: collapse;
}

#task_color_key {
  background-color: #9ec4cd;
  position: relative;
  top: -109px;
  left: 200px;
  margin-bottom: -110px;
  z-index: 100;
}

#manager_task_color_key {
  background-color: #9ec4cd;
}

#task_group_type {
  font-size:12pt;
}

.assignment_project_cell {
  color: #000001;
  font: 110% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
}

#submission_color_key {
  background-color: #9ec4cd;
  padding: 0.5em;
  float: right;
  margin-bottom: 1em;
}

.queue h3 {
  margin-top: 0.5em;
  color: #006F89;
  font-size: 1.2em;
  margin-bottom: 0;
  font-weight: normal;
}
.queue .tabs {
  width: 100%;
}
.queue .tabs td {
  text-align: center;
}
.queue .tabs .active {
  font-family: Helvetica;
  font-variant: small-caps;
  font-weight: bold;
  font-size: 1.087em;
}
.queue .tabs a {
  text-decoration: none;
}
.queue .tabs a.csv {
  padding-left: 0.5em;
  font-family: Inconsolata, monospace;
  font-size: 0.7em;
}
.queue .tabs .active a.link,
.queue .tabs a:hover {
  text-decoration: underline;
}
.queue .tabs .active.unmerged {
  background-color: #FFDDDD;
}
.queue .tabs .unmerged {
  background-color: #FFEEEE;
}
.queue .tabs .active.hidden {
  background-color: #FFFFBB;
}
.queue .tabs .hidden {
  background-color: #FFFFEE;
}
.queue .tabs .active.merged {
  background-color: #DDFFDD;
}
.queue .tabs .merged {
  background-color: #EEFFEE;
}

.queue .cruise {
}
.queue .cruise a {
  margin-left: 1em;
  font-size: 0.8em;
}
.queue .files {
  margin-left: 1em;
  text-align: left;
  width: 90%;
  border-left: 1px solid #eeeeee;
}
.queue .files .file td {
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
.queue .files .link {
  background-color: #eeeeee;
  width: 15em;
}
.queue .files .contact {
  width: 10em;
}
.queue .files .date_received {
  width: 6em;
}
.queue .files .submission {
  width: 9em;
}
.queue .files .id {
  width: 3em;
}
.queue .files .parameters.ctd {
  background-color: #AAFFAA;
}
.queue .files .parameters {
}
.queue .files .actions {
  vertical-align: top;
  text-align: right;
}
.queue .files .farright {
  text-align: right;
}
.queue .files .notebutton {
  white-space: nowrap;
}

.queue .editor textarea {
  width: 100%;
}

.conf_table{
  border:1px solid #888;
}

/* /data_history Tables */
.history_table { width: 100%; }
.history_table th{ border-bottom: 3px solid #006f89 !important; }
.data_history_full { border: 1px solid #999; }
.data_history_full_hl { border: 1px solid #999; background-color: #E0E0E0; }
.history_detail_table { border: 1px solid #000; border-collapse: collapse; }
.history_detail_table th{ background-color: #DBDBDB; padding: 5px; }

.history_info_table{
  background-color: #D8D8D8;
  border-collapse: collapse;
  margin: 0 0 15px 0;
}

/********************** DATA ENTRY ********************/

#contact_entry {width:20em;float:left;}
#contact_results {width:55em;float:right;}
/*.data_entry_form  ul,.data_entry_form   li, */
.data_entry_form   fieldset,.data_entry_form  textarea { margin: 0; padding: 0; }
/*.data_entry_form label,.data_entry_form  select, */
.data_entry_form  input {width:10em;},

.data_entry_form textarea { width:10em; }
.data_entry_form input {height:2em;}
.data_entry_form li span { display: block; }
.data_entry_form  ul {width:20em;}
.data_entry_form li { list-style-type: none; }
.data_entry_form li { clear: both; height: 1%; overflow: auto;}
.data_entry_form    fieldset { border: 0; }
.data_entry_form label, .data_entry_form form li span { float: left; width: 6em; padding-right: 0em; }
.data_entry_form select, .data_entry_form textarea { float: left; margin-left: 0em; }
.data_entry_form fieldset label, .data_entry_form fieldset input { float: left; }
.data_entry_form fieldset label { clear: left; width: 3.25em; padding-right: .75em; }
.data_entry_form fieldset input { margin-left: 0em; margin-right: 1.5em;}
.data_entry_form_two_wide ul {width:18em;}
.data_entry_form_two_wide li {width:18em;}
.data_entry_form_two_wide textarea { width:18em; height:5em; }
     /****** contact table   *********/
     .contact_table table {table-layout:fixed; width:55em; font: 2em "Lucida Grande", "Trebuchet MS", Verdana, sans-serif; }
     .contact_table th { background-color: #747474;}
     .contact_table tr{ }/*border: 1px solid #999; background-color: #BBBFC9; }
     .contact_hilight tr {background-color:#285199;}*/
     .contact_table td { max-width: 4em; height:2em;}
     #first_name_column {width:7em; overflow: hidden;}
     #last_name_column {width:7em;}
     #phone_column {width:10em;}
     #address_column {width:12em;}
     #email_column {width:15em;}
     #institute_column {width:12em;}
     #fax_column {width: 7em;}
     .contact_table_row_height {height:1.5em; overflow:hidden;}
     
     /************ cruise table *****************/
     #staff_cruise_entry {width:22em;float:left;}
     	#cruise_results {width:40em;float:left;}
		 .staff_cruise_table table {table-layout:fixed; width:40em; font: 2em "Lucida Grande", "Trebuchet MS", Verdana, sans-serif; }
     .staff_cruise_table th { background-color: #747474;}
     .staff_cruise_table tr{ }/*border: 1px solid #999; background-color: #BBBFC9; }
     .contact_hilight tr {background-color:#285199;}*/
     .staff_cruise_table td { max-width: 10em; height:2em;}
     #staff_cruise_groups{width:14em;float:right;}
     .staff_groups_table {table-layout:fixed; width:14em; font: 2em "Lucida Grande", "Trebuchet MS", Verdana, sans-serif; }
     


/*********************** \DATA ENTRY ******************/

/* /contacts */
.contact_info_label { vertical-align: top; font-weight: bold; }
#contact_cruises caption { font-weight: bold; }

/* cruise_status page */
#red_link a{ color: red; }
#yellow_link a{ color: orange; }
#green_link a{ color: green; }

#cruise_list, #all_cruise_meta { height: 800px; overflow-y: auto; }
#cruise_list { width: 200px; float: left; }
#all_cruise_meta { width: 824px; margin-left: 200px; }

.cruise_meta { overflow-y: auto; height: 100%; }
.cruise_meta.left { width: 430px; float: left; }
.cruise_meta.right { width: 394px; margin-left: 430px; }

#cruise_meta { background: #eeeeff; }
#status_meta h1 { font-size: 1.2em; }
#status_meta ul.missing li { color: #FF0000; }
#status_meta ul .permissions { color: #FF0000; }
#status_meta ul .stamp { float: right; }
#doc_meta { background: #eeeeff; }

/* Merge Queue */
.unmerged_file{background-color:#FFC860}
.formats.sampsum { border: 1px; width: 90%; }
.formats.sampsum th { text-align: left; vertical-align: bottom; }
.formats.sampsum td { vertical-align: top; }

/* Minutes */
#minutes_color_key { margin: 10px; }
.minutes_table { border:0px; }
td.date_row { background-color:#c9c4bd; color:black; }
pre.minutes_text { vertical-align:top; white-space:pre-wrap; height:400px; overflow:auto; }
td.minutes_action_item_column { vertical-align:top; background-color:#e3ded7; width:500px; }
.completed_action_item { vertical-align:top; background-color:#e3ded7; border: 2px solid #e3ded7; }
.action_item { vertical-align:top; background-color:white; border: 2px solid #e3ded7; }

/* Argo */
#argo_nav {
  height: 2em;
  position: relative;
  left: 1em;
  float: left;
  background-color: #eee;
  border: 1px solid #a0a0a0;
  border-top: 0;
}
#argo_nav a {
  float: left;
  display: block;
  padding: 0.2em 0.5em;
}
#argo_nav .active {
  background-color: #e0e0e0;
  border-top: 1px solid #e0e0e0;
  border-left: 1px solid #a0a0a0;
  border-right: 1px solid #a0a0a0;
  position: relative;
  top: -1px;
  height: 1.65em;
}
.argo_content td { padding: 0.5em; }
.argo_content .time { white-space: nowrap; }
.argo_content .description { width: 33em; overflow-x: auto; }
.argo_content pre { width: inherit; }

/* Parameter Entry and Descriptions */
td.parameter_entry { vertical-align:top; }
td.parameter_order { background-color:#7889AB; text-align:center; color:white; font-size:large; }

/* Data sharing */
.data_sharing h1 { font-weight: bold; }
.data_sharing p { margin: 0.5em 0; }
.data_sharing ol { list-style: decimal; }
.data_sharing li { max-width: 66ex; margin: 0.5em 0; }

/* Southern Ocean */
.southern_map { float: left; width: 59%; }
.southern_cruises { float: right; width: 41%; max-height: 600px; overflow: hidden; }
.southern_basins { max-height: 580px; overflow-y: scroll; overflow-x: hidden; }
.southern_table { font-size: smaller; color:#565656; width: auto; }
.southern_table a { text-decoration: none; }
.southern_table th { background-color:#d1edec; padding-left: 5px; vertical-align: bottom; color: #515151; text-transform: uppercase; }
.southern_table td { vertical-align: top !important; font-size: 8.5pt; } 
.more { display:none; }
.basin_header { border-bottom: 3px solid #006f89 !important; }
.view_basin_header { border-bottom: 3px solid #aaa !important; }

/* Indian Ocean */
.indian_map { float: left; width: 59%; }
.indian_cruises { float: right; width: 41%; max-height: 570px; overflow: hidden; }
.indian_basins { max-height: 520px; overflow-y: scroll; overflow-x: hidden; }
.indian_table { font-size: smaller; color:#565656; width: 100%; }
.indian_table a { text-decoration: none; }
.indian_table th { background-color:#d1edec; padding-left: 5px; vertical-align: bottom; color: #515151; text-transform: uppercase; line-break: strict; }
.indian_table td { vertical-align: top !important; font-size: 8pt; line-break: strict; }

/* Arctic Cruise page */
.arctic_map { float: left; width: 59%; }
.arctic_cruises { float: right; width: 41%; max-height: 630px; overflow-y: scroll; }
.arctic_table { font-size: 7.4pt; color: #565656; width: 100%; }
.arctic_table th td { width: 20%; line-break: strict; }
.arctic_tr td{ width: inherit; vertical-align: top; height: 50px; }
.arctic_line td{ width: 10%; }
.arctic_date td{ width: 18%; }
.arctic_ship td{ width: 10%; }
.arctic_scientist td{ width: 24%; }
.arctic_country td{ width: 13%; }
.arctic_table a { text-decoration: none; }
.arctic_table th { background-color:#d1edec; padding-left: 5px; vertical-align: bottom; color: #515151; text-transform: uppercase; }
tr.not_in_map { background-color: #FFDDDD; }
.small_font { font-size: smaller; }
.end_date { border-top: #a0a0a0 1px dashed; }

/* atlantic.html */
.atlantic_cruise .map {
  position: relative;
  float: left;
  margin-right: 15px;
}
.atlantic_cruise .table {
  margin-bottom: 1em;
}
.atlantic_cruise h3 {
  font-size: 1.1em;
  margin-top: 1em;
  margin-bottom: 0;
}
.atlantic_cruise h4 a {
  color: #006f89;
  font-style: italic;
}

/* rails form error explanation */
.errorExplanation {
  color: #b94a48;
  background: #f2dede;
  border-color: #eed3d7;
  padding: 0.5em;
}
.errorExplanation h2,
.errorExplanation p {
  display: none;
}
.errorExplanation ul {
  font-size: 0.9em;
  list-style-type: disc;
  margin-left: 2em;
}
