<table width="380">
<tr><td colspan="3"><strong>Delete a file</strong><br>
	</td></tr>
<tr><td class="heading_table">File</td><td class="heading_table">User</td><td class="heading_table">Note</td></tr>
<% if @files %>
	<% for file in @files %>
<tr>
<td><a href="/argo/delete_file?File=<%=  file.id %>"><%= file.filename %></a></td>
<td><%= file.user %></td>
<td><%= file.note %></td>
</tr>
<% end %>
<% end %>
</table>