<div class="boxed">
<%= render :partial => 'title', :locals => {:subtitle => ''} %>    
<div class="box_content">
  <% unless @files.blank? -%>
    <%= render :partial => "table", :locals => {:files => @files_ast14, :old => false} %>
    <%= render :partial => "table", :locals => {:files => @files_admt14, :old => false} %>
    <%= render :partial => "table", :locals => {:files => @files, :old => true} %>
  <% else -%>
    <p>There are no files.</p>
  <% end -%>
</div>
<div class="box_bottom"></div>
</div>
