<div class="boxed">
<h1>
    <%= image_tag('logos/argo_logo.png', :alt => 'Argo', :width => 50, :height => 50) %>
    Secure File Repository Sign in
</h1>

<div class="box_content">

<% form_tag :action => :signin do %>
<table>
  <tr>
    <td><label for="username">Username:</label></td>
    <td><%= text_field_tag "username" %></td>
  </tr>
  <tr>
    <td><label for="password">Password:</label></td>
    <td><%= password_field_tag "password" %></td>
  </tr>
</table>
<%= submit_tag "Sign in" %>
<% end %>

</div>

<div class="box_bottom"></div>
</div>
