<div id="history" class="boxed">
  <h1>Data History</h1>
  <div class="box_content">
    <%= link_to('Expanded view', "/data_history?ExpoCode=#{@cruise.ExpoCode}") -%>
    <%= render :partial => 'history' -%>
  </div>
  <div class="box_bottom"></div>
</div>
