<div class="note">
<p><b>Detailed Notes</b> - <em><%= @note_entry.LastName -%>, <%= @note_entry.First_Name -%></em></p>
<pre><%= @note_entry.Note -%></pre>
<div class="close"><a href="javascript:void(0);" onclick="$('note_<%= @note_entry.ID -%>').hide();">Close</a></div>
</div>
