<div class="boxed datacart-dl">
  <h1>Data cart</h1>
  <div class="box_content">
    <div id="datacart_form_placeholder"></div>
    <div id="datacart_placeholder">
      <p>Your browser doesn't appear to support the datacart, or you have javascript disabled.</p>
    </div>
  </div>
</div>
