<div id='cchdo_footer'>
  <div id='cchdo_credit'>
    <p>
      This web site and all other CCHDO activities are supported by grants from
      the <a href="http://www.nsf.gov">National Science Foundation</a> and the 
      <a href="http://www.noaa.gov/">National Oceanic and Atmospheric Administration</a>. 
      Any opinions, findings, and conclusions or recommendations expressed in
      this web site are those of the PI, James Swift, and the CCHDO, and do not
      necessarily reflect the views of the supporting Federal agencies.
    </p>
  <div id='cchdo_logos'>
    <a href='http://www.clivar.org/'><img src='/images/logos/clivar_logo.jpg' /></a>
    <a href='http://nsf.gov/'><img src='/images/logos/nsf_logo.jpg' /></a>
    <a href='http://sio.ucsd.edu/'><img src='/images/logos/sio_logo.gif' /></a>
  </div>
</div>
