<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>CCHDO | CLIVAR & Carbon Hydrographic Data Office</title>
    <%= stylesheet_link_tag 'main' %>
        <script src="http://www.google-analytics.com/urchin.js" type="text/javascript"></script>
        <script type="text/javascript"> _uacct = "UA-2167386-1"; urchinTracker();</script>
        <script type="text/javascript"> _uacct = "UA-2201797-1"; urchinTracker();</script>
    <%= render :partial => 'layouts/ie_compatibility' %>
<meta name="google-site-verification" content="xBVm_AfJYEdA-tbww41dajF9RuGbZHAjpOBhwWwqbcM" />
  </head>
  <body>
    <div id='centering'>
      <%= render :partial => 'layouts/cchdo_header' %>
	<div class="boxed">
        <h1>CCHDO Staff Site</h1>
		<div class="box_content">
        <% if session[:user] %>
          <div class="staff_links_table">
            <%= link_to("Staff Home", :controller => "staff") %> |
            <%= link_to("Assignments", :controller => "task_manager") %> |
            <%= link_to("Data Entry", :controller => "data_entry") %> |
            <%= link_to("Recent Submissions", :controller => "staff", :action => "submitted_files") %> |
            <%= link_to("Cruise Information", :controller => "cruise_status") %> |
            <%= link_to_remote("Documentation",:update => "staff_div",:url=>{:controller=>'staff',:action =>'documentation'})%> |
            <%= link_to("Recent Updates", :controller => "staff", :action => "recent_updates") %> |
            <%= link_to_remote("Software", :update => "staff_div",:url=>{:controller=>'staff',:action =>'software'})%> |
            <%= link_to("Minutes", :controller=>'staff',:action =>'minutes_archive') %> |
            <%= link_to("Queue Files", :controller=>'staff',:action =>'queue_files') %>
          </div>
			<div class="staff_sign_out">
            <%= link_to("Sign out [#{session[:username]}]", :controller => "staff", :action => "signout") %>
			</div>
        <% end %>
      <div id='content'>
        <% if flash[:notice] %>
          <h1 class='notice'><%= flash[:notice] %></h1>
        <% end %>
        <%= @content_for_layout %>
      </div>
	</div>
	<div class="box_bottom"></div>

	</div>
      <%= javascript_include_tag 'img_rotate', 'sortable/sortable', :defaults, :cache => 'cache/defaults' %>
      <%= render :partial => 'layouts/cchdo_footer' %>
    </div><%# centering %>
  </body>
</html>
