<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>CCHDO | CLIVAR & Carbon Hydrographic Data Office</title>
<%= stylesheet_link_tag 'main','groups'%>
<%= render :partial => 'layouts/ie_compatibility' -%>
</head>
<body>
 <div id='centering'>
   <%= render :partial => 'layouts/cchdo_header' -%>
   <div id='content'>
   <% if flash[:notice] %>
     <h1 class='notice'><%= flash[:notice] %></h1>
   <% end %>
   <%= yield -%>
 </div>
 <%= render :partial => 'layouts/cchdo_footer' %>
</div>
<%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js',
  'img_rotate', 'ddaccordion', :defaults -%>
<%= render :partial => 'layouts/google_analytics' -%>
</body>
</html>
