<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>CCHDO | CLIVAR & Carbon Hydrographic Data Office</title>
<%= stylesheet_link_tag 'main' %>
<%= render :partial => 'layouts/ie_compatibility' %>
<meta name="google-site-verification" content="xBVm_AfJYEdA-tbww41dajF9RuGbZHAjpOBhwWwqbcM" />
</head>
<body>
<div id='centering' class="staff">
  <%= render :partial => 'layouts/cchdo_header' %>
  <% if session[:user] %>
    <div id="menu">
      <%= link_to("Staff Home", :controller => "/staff") %> |
      <%= link_to("Submissions", submissions_path) %> |
      <%= link_to("Queue", queue_path) %> |
      <!-- <%= link_to("Assignments", :controller => "task_manager") %> | -->
      <%= link_to("Data Entry", :controller => "/staff/data_entry") %> |
      <%= link_to("Cruise Info", :controller => "/cruise_status") %> |
      <%= link_to("Documentation",:controller=>'/staff',:action =>'documentation')%> |
      <%= link_to("Recent Updates", :controller => "/staff", :action => "recent_updates") %> |
      <%= link_to("Minutes", :controller=>'/staff',:action =>'minutes_archive') %> |
      <%= link_to("Tasks(Dave)", :controller=>'arctic_tasks') %> | 
      <%= link_to("File Calendar",:controller => '/staff/cal') %>
    </div>
  <% end %>
  <div id='content'>
    <%= render :partial => 'layouts/flashes' -%>
    <%= yield -%>
  </div>
  <%= render :partial => 'layouts/cchdo_footer' -%>
</div>
<%= javascript_include_tag 'img_rotate', 'sortable/sortable', :defaults -%>
<%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js' %>
<script type="text/javascript">
  jQuery.noConflict();
  function ChangeColor(tableRow, highLight) {
    tableRow.style.backgroundColor = '#ffffff';
    if (highLight) {
      tableRow.style.backgroundColor = '#dcfac9';
    } else {
      tableRow.style.backgroundColor = 'white';
    }
  }
  function DoNav(theUrl) {
    document.location.href = theUrl;
  }
</script>
<%= yield :js %>
<%= render :partial => 'layouts/google_analytics' -%>
</body>
</html>
