<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>CCHDO | CLIVAR & Carbon Hydrographic Data Office<%= yield :title -%></title>
<%= stylesheet_link_tag 'main' -%>
<%= yield :head -%>
<%= render :partial => 'layouts/ie_compatibility' -%>
<meta name="google-site-verification" content="xBVm_AfJYEdA-tbww41dajF9RuGbZHAjpOBhwWwqbcM" />
</head>
<body>
<div id='centering'>
  <%= render :partial => 'layouts/cchdo_header' -%>
  <div id='content'>
    <% if flash[:notice] -%>
      <h1 class='notice'><%= flash[:notice] -%></h1>
    <% end -%>
    <%= yield -%>
  </div>
  <%= render :partial => 'layouts/cchdo_footer' -%>
</div>
<div id="scripts">
<%= javascript_include_tag 'img_rotate', 'toggle' -%>
<% if @content_for_js %>
  <%= yield :js -%>
<% else %>
  <%= javascript_include_tag :defaults -%>
<% end %>
<%= render :partial => 'layouts/google_analytics' -%>
<%#= render :partial => "layouts/tracking" -%>
</div>
</body>
</html>
